[submodule ".registry"]
	path = .registry
	url = https://github.com/data-wise/data-wise.r-universe.dev
	branch = HEAD
[submodule "RMediation"]
	path = RMediation
	url = https://github.com/Data-Wise/rmediation
[submodule "medfit"]
	path = medfit
	url = https://github.com/Data-Wise/medfit
[submodule "mediationverse"]
	path = mediationverse
	url = https://github.com/Data-Wise/mediationverse
[submodule "medrobust"]
	path = medrobust
	url = https://github.com/Data-Wise/medrobust
	branch = dev
[submodule "medsim"]
	path = medsim
	url = https://github.com/Data-Wise/medsim
[submodule "missingmed"]
	path = missingmed
	url = https://github.com/Data-Wise/missingmed
	branch = dev
[submodule "probmed"]
	path = probmed
	url = https://github.com/Data-Wise/probmed
